{{#unless error}}
  <div class="product">
    <h1>Title: {{title}}</h1>
    <h2>Body : {{body}}</h2>
    <h2>Author : {{author}}</h2>
    <h2>URL: {{url_title}}</h2>
  </div>
{{/unless}}
{{#if error}}
  <h1>Article Not Found</h1>
{{/if}}