<h1>All Articles</h1>
{{#if success.delete}}
<p>Item deleted.</p>
{{/if}}

{{#each articles}}
  <div class="article">
    <h1>Title: {{title}}</h1>
    <h2>Body: {{body}}</h2>
    <h2>Author: {{author}}</h2>
    <h2>URL: {{url_title}}</h2>
  </div>
{{/each}}