<h1>All Articles</h1>

{{#if error}}
  <h1>Something went wrong :(</h1>
{{/if}}
{{#if delete_error}}
  <h1> Product could not be deleted.</h1>
{{/if}}

{{#each articles}}
  <div class="article">
    <h1>Title: {{title}}</h1>
    <h2>Body: {{body}}</h2>
    <h2>Author: {{author}}</h2>
    <h2>URL: articles/{{url_title}}</h2>
  </div>
{{/each}}