<h1>Edit Product #{{id}}</h1>
<form action="" method="put">
  <label for="productName">Name</label>
  <input type="text" id="productName" value={{name}}>

  <label for="productPrice">Price</label>
  <input type="text" id="productPrice" value={{price}}>

  <label for="productInventory">Inventory</label>
  <input type="text" id="productInventory" value={{inventory}}>

  <input type="submit" value="Save">
</form>