<h1>New Product #{{id}}</h1>
<form name="newProduct" id="newProduct" action="/products" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name= "name" value="name">

  <label for="price">Price</label>
  <input type="text" id="price" name= "price" value="price">

  <label for="inventory">Inventory</label>
  <input type="text" id="inventory" name="inventory" value="inventory">

  <input id= "newProduct" type="submit" value="Add Product">
</form>